<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.SLCM"
        tools:targetApi="31">

        <!-- Student -->
        <activity
            android:name=".StudentLogin"
            android:exported="false"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".Student.StudentForgotPassword"
            android:exported="false"
            android:parentActivityName=".StudentLogin" />
        <activity
            android:name=".Student.StudentDashboard"
            android:exported="false" />
        <activity
            android:name=".Student.StudentAnnouncements"
            android:exported="false"
            android:parentActivityName=".Student.StudentDashboard" />
        <activity
            android:name=".Student.StudentViewAnnouncement"
            android:exported="false"
            android:parentActivityName=".Student.StudentAnnouncements" />
        <activity
            android:name=".Student.StudentTimetable"
            android:exported="false"
            android:parentActivityName=".Student.StudentDashboard" />
        <activity
            android:name=".Student.StudentAttendance"
            android:exported="false"
            android:parentActivityName=".Student.StudentDashboard" />
        <activity
            android:name=".Student.StudentMarksheet"
            android:exported="false"
            android:parentActivityName=".Student.StudentDashboard" />
        <activity
            android:name=".Student.StudentInternalMarks"
            android:exported="false"
            android:parentActivityName=".Student.StudentDashboard" />
        <activity
            android:name=".Student.StudentFees"
            android:exported="false"
            android:parentActivityName=".Student.StudentDashboard" />
        <activity
            android:name=".Student.StudentProfileDashboard"
            android:exported="false"
            android:parentActivityName=".Student.StudentDashboard" />
        <activity
            android:name=".Student.StudentProfile"
            android:exported="false"
            android:parentActivityName=".Student.StudentProfileDashboard" />
        <activity
            android:name=".Student.StudentChangePassword"
            android:exported="false"
            android:parentActivityName=".Student.StudentProfileDashboard" />
        <activity
        android:name=".Student.StudentChatViewFaculty"
        android:exported="false"
        android:parentActivityName=".Student.StudentDashboard" />
        <activity
            android:name=".Faculty.FacultyChatViewStudent"
            android:exported="false"
            android:parentActivityName=".Faculty.FacultyDashboard" />
        <activity
            android:name=".StudentChat"
            android:exported="false"
            />
        <!-- Faculty -->
        <activity
            android:name=".FacultyLogin"
            android:exported="false"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".Faculty.FacultyForgotPassword"
            android:exported="false"
            android:parentActivityName=".StudentLogin" />
        <activity
            android:name=".Faculty.FacultyDashboard"
            android:exported="false" />
        <activity
            android:name=".Faculty.FacultyCreateAnnouncement"
            android:exported="false"
            android:parentActivityName=".Faculty.FacultyDashboard" />
        <activity
            android:name=".Faculty.FacultyCreatedViewAnnouncement"
            android:exported="false"
            android:parentActivityName=".Faculty.FacultyAnnouncements"/>
        <activity
            android:name=".Faculty.FacultyUpdateAnnouncement"
            android:exported="false"
            android:parentActivityName=".Faculty.FacultyAnnouncements" />
        <activity
            android:name=".Faculty.FacultyAnnouncements"
            android:exported="false"
            android:parentActivityName=".Faculty.FacultyDashboard" />
        <activity
            android:name=".Faculty.FacultyViewAnnouncement"
            android:exported="false"
            android:parentActivityName=".Faculty.FacultyAnnouncements" />
        <activity
            android:name=".Faculty.FacultyTimetable"
            android:exported="false"
            android:parentActivityName=".Faculty.FacultyDashboard" />
        <activity
            android:name=".Faculty.FacultyAttendanceChooseDate"
            android:exported="false"
            android:parentActivityName=".Faculty.FacultyDashboard" />
        <activity
            android:name=".Faculty.FacultyAttendanceClass"
            android:exported="false"
            android:parentActivityName=".Faculty.FacultyAttendanceChooseDate" />
        <activity
            android:name=".Faculty.FacultyAttendanceSubject"
            android:exported="false"
            android:parentActivityName=".Faculty.FacultyAttendanceChooseDate" />
        <activity
            android:name=".Faculty.FacultyAttendance"
            android:exported="false"
            android:parentActivityName=".Faculty.FacultyAttendanceChooseDate" />
        <activity
            android:name=".Faculty.FacultyMarksClass"
            android:exported="false"
            android:parentActivityName=".Faculty.FacultyDashboard" />
        <activity
            android:name=".Faculty.FacultyMarksType"
            android:exported="false"
            android:parentActivityName=".Faculty.FacultyMarksClass" />
        <activity
            android:name=".Faculty.FacultyMarksSubject"
            android:exported="false"
            android:parentActivityName=".Faculty.FacultyMarksClass" />
        <activity
            android:name=".Faculty.FacultyMarks"
            android:exported="false"
            android:parentActivityName=".Faculty.FacultyMarksClass" />
        <activity
            android:name=".Faculty.FacultyProfileDashboard"
            android:exported="false"
            android:parentActivityName=".Faculty.FacultyDashboard" />
        <activity
            android:name=".Faculty.FacultyProfile"
            android:exported="false"
            android:parentActivityName=".Faculty.FacultyProfileDashboard" />
        <activity
            android:name=".Faculty.FacultyChangePassword"
            android:exported="false"
            android:parentActivityName=".Faculty.FacultyProfileDashboard" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>